# Midterm 2 coding Questions Total : 60 
### 50 minute
### Name-
After complition submit it on Moodle using `GitHub` with in the assigned time

### Question 1. Print all of the numbers between 1 to 10 and square each numbers and append those to a new list
- 5 points

In [86]:
list=[]
for num in range (1,11):
    print(num)
    list.append(num**2)
print(list)

1
2
3
4
5
6
7
8
9
10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2. Create a list of 10 random numbers and find out minimum , maximum and total of teh list.
* 5 + 3 = 8 points

In [12]:
import random
random_list = [random.randint(0, 50) for i in range(10)]
print(random_list)

[25, 8, 50, 46, 19, 10, 24, 18, 34, 1]

In [13]:
max(random_list)

50

In [14]:
min(random_list)

1

In [15]:
sum(random_list)

235

### Question 3. Print `day` and `300` from the new_list
new_list= [10, ['new', 300, [[3.141, 20],  345 ]], 'day' ]
* 3 + 3 = 6 points

In [17]:
new_list= [10, ['new', 300, [[3.141, 20], 345 ]], 'day' ]

In [22]:
new_list[2]

'day'

In [27]:
new_list[1][1]

300

### Question 4.  College=("Bellarmine", "2001 Neuburg RD")
Print the `name` of the College.
* 5 points

In [28]:
College=("Bellarmine", "2001 Neuburg RD")

In [29]:
College[0]

'Bellarmine'

### Question 5. In the United States as of 1995, minor is generally legally defined as a person under the age of 18. Write a code to check a student is minor or not. Verify the code by user input
* 6 points

In [33]:
age = int(input('Please enter student age: '))
if age <18: print('The person is a minor.')
else:
    print('The person is not a minor, they are legal')

Please enter student age: 17
The person is a minor.

### Question 6. Get an input from user and check whether the number is `odd` and `greater than 10`. If not then comment
* 5 points

In [45]:
number=int(input("Enter a number: "))
if number>10 and number%1==0:
    print(number, "is odd, and greater than 10")
if number%2==0:
    print(number, "is even, and doesn't fit the criteria.")
if number<10 and number%1==0:
    print(number, "is odd, but isn't greater than 10.")

Enter a number: 15
15 is odd, and greater than 10

### Question 7. Get a user input and check the given number is multiple of 11 or not
* 5 points

In [81]:
num=int(input("Enter any number: "))
if num/11==range(0,):
    print("This number is a multiple of 11")
else:
    print("This number is not a mulitple of 11")

Enter a number: 83
This number is not a mulitple of 11

### Question 8. Convert the lists to dictionary
* keys =  [10, 20, 30]
* values =['Ten', 'Twenty', 'Thirty']
* 4 points

In [82]:
dict1={10:"Ten",
      20:"Tewenty",
       30:"Thirty"}
dict1

{10: 'Ten', 20: 'Tewenty', 30: 'Thirty'}

### Question 9. Write a function that can take `any arbitary numbers` as inputs and calculate the maximum of them. Check the function for two sets of inputs.
* 2+2 points

In [90]:
def max_func(*args):
    return max(args)

In [91]:
max_func(1,5,6,3,2)

6

In [92]:
max_func(44,22,56,32)

56

### Question 10. Write functions to find out Area and Perimeter of a square. Check the result for side = 10.

* 3+3 points

In [53]:
def square(num1):
        print(f'Area of a Square= {num1*num1}')
num1=int(input("Enter the length of the side:"))
print("The area is:", num1*num1)

Enter the length of the side:10
The area is: 100

In [56]:
def square_perimeter(num1):
        print(f'Perimeter of a Square= {num1*4}')
num1=int(input("Enter the length:"))
print("The perimeter is:", num1*4)

Enter the length:10
The perimeter is: 40

### Question 11. Write down two program using while and for loop that prints all of the number from 10 to 20 (included) 
* 3+3 points

In [60]:
number=10
while number<21: 
    print(number)
    number+=1

10
11
12
13
14
15
16
17
18
19
20

In [64]:
for number in range(10,21):
    if number==21:
        continue 
    print(number, end=" ")

10 11 12 13 14 15 16 17 18 19 20